* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(18, 21, 214);
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

a.btn {
    margin: 5px;
}


.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


