<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Employee Form</title>
</head>
<body>
    <div class="container" align="center">
        {% if messages %}
        {% for message in messages %}
            <h1>{{ message }}</h1>
            <p>Fill the next Form</p>
        {% endfor %}
        {% else %}
            <h2>Fill the Employee Form</h2>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="submit">Submit</button>
        </form>       
    </div>
</body>
</html>
