<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please Verify Your Information.......!</h1>
    <ul>
        <li>Name: {{name}}</li>
        <li>Name: {{age}}</li>
        <li>Name: {{gf}}</li>
    </ul>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        h1 {
            color: red;
        }

        ul li {
            font-size: 30px;
        }
    </style>
</body>
</html>