<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>
<body>
    <h1>Welcome to job portal of Pyspider</h1>
    <p>Continus jobs updates fro every hours..</p>

    <a href="{% url 'web3' %}"><button>Pune Jobs</button></a>
    <a href="{% url 'web1' %}"><button>Bangalore Jobs</button></a>
    <a href="{% url 'web2' %}"><button>Kolkata Jobs</button></a>

</body>
</html>