<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    {% if data %}
    <table border="1">
        <caption>Ftech Data From DataBase</caption>
        <thead>
            <tr>
                <th>Emp name</th>
                <th>Emp age</th>
                <th>Emp sal</th>
                <th>Emp add</th>
            </tr>
        </thead>

        {% for i in data %}
        <tr>
            <td>{{i.emp_name}}</td>
            <td>{{i.emp_age}}</td>
            <td>{{i.emp_sal}}</td>
            <td>{{i.emp_add}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Data Not Found !!!!</p>
    {% endif %}
</body>
</html>