<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/homes.css' %}">
</head>
<body>
    <h1>Welcome to Django Batch.........................!</h1>
    <h1>Good Mornig........!</h1>
    <h1>Good Night.........!</h1>
    <ul>
        <li>A for:{{a}}</li>
        <li>B for:{{b}}</li>
        <li>C for:{{c}}</li>
    </ul>
    <img src="{%static 'images/shree_ram.jpg'%}" alt="Images is not visibale" style="height: 600px; text-align: center;">

    
</body>
</html>