
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: aqua;
}

h1 {
    color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
}
th {
    background-color: #f2f2f2;
}
.btn {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    /* text-decoration: none; */
    border-radius: 5px;
}
.btn:hover {
    background-color: #0056b3;
}